*{
    padding: 0;
    margin: 0;
    font-family : sans-serif;
}
body{
    background-color: rgb(168, 255, 127);
}
a{
    text-decoration: none;
    color: white;
}
h1, h2, h3, h4, h5, h6 {
    color: black;
}
.header{
    background-color : goldenrod;
    text-align: right;
    padding: 1s0px;
}
